<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><%= data.nama %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= data.email %></h6>
    <p class="card-text"><%= data.alamat %></p>
    <a href="/data" class="btn btn-secondary">Kembali</a>
    <a href="/update/<%= data.id %>" class="btn btn-primary">Update</a>
  </div>
</div>
