<form action="/tambah" method="post" class="mt-4">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nama</label>
    <input
      type="text"
      name="nama"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="anonymous"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      name="email"
      id="exampleFormControlInput1"
      placeholder="anonymous@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Alamat</label>
    <input
      type="text"
      name="alamat"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="streets angsana ..."
    />
  </div>
  <button class="btn btn-primary">submit</button>
</form>
